.br {
  display: block;
  margin-bottom: 0em;
}

.min_br {
  display: block;
  margin-bottom: -0.8em;
}

.brmedium {
  display: block;
  margin-bottom: 1em;
}

.brlarge {
  display: block;
  margin-bottom: 2em;
}

.centered {
  /* height: 100vh; Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.CourseList {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}